@import url("https://fonts.googleapis.com/css?family=Roboto");
body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Roboto",cursive;
    font-size:2rem;
    background:#f5f9ff;

}
.container{

    display:flex;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50% -50%);
    -webkit-transform:translate(-50% , -50%);
    -moz-transform:translate(-50% , -50%);
    -ms-transform:translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    width:18em;
    height:1.5rem;
    flex-flow:row wrap;
    justify-content:center;

}

.option{
    
    flex:1 1  2rem;
    color:#f0f0f0;
    font-size:17px;
    display:flex;
    align-items:center;
    z-index:2;
    cursor:pointer;
    border:none;
    transition:all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition:all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition:all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition:all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.option::before{

    content:"";
    position:relative;
    width:1.7em;
    height:100%;
    left:0;
    top:0;
    color:#f0f0f0;
    transform-origin:left top;
    transform:skew(-30deg , 0deg);
    -webkit-transform:skew(-30deg , 0deg);
   -moz-transform:skew(-30deg , 0deg);
    -ms-transform:skew(-30deg , 0deg);
    -o-transform:skew(-30deg , 0deg);
     
}

.option--four {
    background: #104e5a;
    box-shadow: 0px 0px 40px #104e5a;

}
.option--four::before{
    background:#104e5a;
}
.option--three{
    background:#142136;
    box-shadow:0px 0px 40px #142136;
}
.option--three::before{
    background:#142136;
}
.option--two{
    background:#d51515;
    box-shadow:0px 0px  40px #d51515; 
}
.option--two::before{
    background:#d51515;
}
.option--one{
    background:#e57910;
    box-shadow:0px 0px 40px #e57910; 
}
.option--one:before{
    background:#e57910;
}

.option:focus{
    flex-basis:9em;
    outline:none;
}

.option i{
    padding:5px 5px 5px 5px;

}

.tip{
    position:absolute;
    top:65%;
    left:50%;
    transform:translate(-50% -50%);
    font-size:1rem;
    color:#111;
    -webkit-transform:translate(-50% , -50%);
    -moz-transform:translate(-50% , -50%);
    -ms-transform:translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    
}
